app = 'wan22-backend'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  PORT = '8000'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
